.color-primary {
  color: #51b55d;
}

.color-secondary {
  color: gray;
}

.color-tertiary {
  color: #18453B;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Futura';
}

.home-header {
  height: auto;
  font-family: 'Futura';
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


 /* podium */
#podium {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  position: relative;
}

.step {
  width: 200px;
  margin: 10px;
  background-color: #51b55d;
  position: relative;
  bottom: 0;
  margin-right: -10px;
}

.var-name {
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
}

#first {
  height: 300px;
}

#second {
  height: 200px;
}

#third {
  height: 100px;
}
/* end podium */

/* begin challenge */

/*challenge options*/
.challenges-container {
  width: 80%;
  margin: 0 auto;
}

.challenge {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.completed {
  background-color: #f2f2f2;
}

.completed .btn-complete {
  display: none;
}

.btn-complete {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.challenge-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.challenge-description {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}


  

/* end challenge */
